{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="py-1">
    {% block title %}Card win rate when in hand or drawn by average turn when card is picked{% endblock %}
    <p>{{form}}</p>
  </h2>
  <div class="row">
      <div class="col-md-3 mb-2">
        <select class="form-control" name="extension_list" id="extension_list">
          {% for extension in extension_list %}
          {% if extension == selected_value %}
          <option value="{{extension}}" selected>{{extension}}</option>
          {% else %}
          <option value="{{extension}}">{{extension}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-md-3 mb-2">
          <select class="form-control" name="format_list" id="format_list">
            {% for format in format_list %}
            {% if format == selected_format %}
            <option value="{{format}}" selected>{{format}}</option>
            {% else %}
            <option value="{{format}}">{{format}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
  </div>
  <div class="row">
    <div class="col">
      <div id='chart' class="rounded-3">
      </div>
      <h2 class='text-center pt-4 d-none' id="no_data_message">
        There is no data available for this selection
      </h2>  
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}
